.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 0.5rem;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.errorInputMessage {
    color: red;
    font-weight: bold;
    font-size: 10px;
}

.settingsInput {
    width: 100%;
    height: 2rem;
    background-color: #b8b4ad;
    border: none;
    padding: 0.5rem;
    outline: none;
}

.settingsSubmit {
    background-color: cornflowerblue;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

