.container {
    border-radius: 0.3rem;
    border: 2px solid;
    padding: 0.4rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.info {
    border-color: grey;
    background-color: rgba(229, 227, 221);
}

.success {
    border-color: green;
    background-color: darkseagreen;
    color: green;
}

.error {
    border-color: red;
    background-color: lightcoral;
    color: red;
}