.container {
    background-color: rgba(229, 227, 221);
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 90%;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem;
    gap: 0.5rem;
}

.textContainer {
    width: 100%;
}
.textArea {
    background-color: rgba(229, 227, 221);
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    resize: none;
    width: 100%;
    max-height: 10rem;
}

.textArea:focus {
    outline: none;
}

.optionsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.input {
    background-color: rgba(229, 227, 221);
    border: none;
    height: 2rem;
    padding: 0.5rem;
    user-select: none;
    border-radius: 10px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.image {
    width: 15px;
    height: 15px;
    object-fit: contain;
}
