.post-feed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(159, 159, 159, 0.37);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.post-feed-card:hover {
    background-color: rgba(159, 159, 159, 0.3);
}

.post-feed-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.post-feed-card-header-title {
    display: flex;
}

.post-feed-card-header img {
    width: 2rem;
    margin-right: 0.5rem;
}

.post-feed-card-content {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.post-feed-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    column-gap: 0.5rem;
}

.post-comment-link {
    align-self: flex-start;
    display: block;
    text-decoration: none;
    color: inherit;
}
