.main {
    width: 100%;
    min-height: 100vh;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0;
    max-width: 40rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.headerTitle {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.backLink {
    font-size: 50%;
    text-decoration: none;
    color: inherit;
    align-items: center;
    cursor: pointer;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 8px 8px 0 8px;
    row-gap: 1rem;
}

.title {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.headerTitle{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.headerAvatar{
    width: 2rem;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
    row-gap: 0.5rem;
}

.content {
    width: 100%;
}

.time {
    color: grey;
    font-size: 0.8rem;
}

.footer {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.commentBtn {
    display: flex;
    align-items: center;
    background-color: inherit;
    gap: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 30%;
    color: grey;
}

.commentIcon:hover {
    color: #74BEDB;
    cursor: pointer;
    fill: #74BEDB;
}

.likeBtn {
    display: flex;
    align-items: center;
    background-color: inherit;
    gap: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 30%;
    color: grey;
}

.likeIcon:hover {
    color: #FE7918;
    cursor: pointer;
    fill: #FE7918;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 8px 8px 0 8px;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightgrey;
    width: 100%;
    row-gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(159, 159, 159, 0.37);
    margin-bottom: 1rem;
}

.textArea {
    width: 100%;
    min-height: 3rem;
    resize: none;
    background-color: lightgrey;
    border: none;
    border-radius: 1%;
}

.textArea:focus {
    outline: none;
}

.sendButton {
    background-color: white;
    border-radius: 50rem;
    padding: 0.2rem 0.5rem;
    border: none;
    cursor: pointer;
}

.commentList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}