.content {
    width: 100%;
    min-height: 100vh;
}

.Profile-wrap-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 2rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 50%;
}

.profile-banner {
    width: 100%;
}

.profile-banner img {
    width: 100%;
    height: 10rem;
}

.profile-avatar {
    position: relative;
    top: -4rem;
    left: 2rem;
    width: 6rem;
    height: 3rem;
}

.profile-avatar img {
    width: 100%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--primary-background-color);
    border: 2px solid var(--primary-background-color);
}

.profile-info {
    padding: 0.5rem;
}

.profile-hub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.profile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid grey;
}

.profile-nav-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.profile-nav-item:hover {
    background-color: lightgrey;
}