.header {
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    user-select: none;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(159, 159, 159, 0.37);
    z-index: 10;
}

.start {
    margin-right: 2rem;
    margin-left: 2rem;
}

.logo-img {
    width: 3rem;
    height: 3rem;
}

.start-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.middle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    max-width: 60rem;
    column-gap: 1rem;
}

a {
    text-decoration: none;
    color: grey;
}

.active-link {
    color: #36a9f1;
    border-bottom: 2px solid #36a9f1;
    text-decoration: none;
    user-select: none;
}

.end {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.user-container img {
    background-color: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
}
