.navSide {
    flex: 0 0 200px;
}

.nav {
    list-style: none;
    width: 100%;
}

.settingsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.navItem {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0.3rem;
    cursor: pointer;
    padding: 5px 10px;
}

.isActive {
    background-color: lightgrey;
    font-weight: bold;
}

.settingsIcon {
    width: 18px;
    height: 18px;
}