.navSide {
    flex: 0 0 200px;
}

.nav {
    list-style: none;
    width: 100%;
}

.settingsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.navItem {
    width: 100%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.isActive {
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0.2rem;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 0.2rem;
}