.main {
    display: flex;
    width: 100%;
    min-height: 90vh;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.errorContainer {
    border: 1px solid red;
    border-radius: 0.3rem;
    background-color: lightcoral;
    color: red;
    padding: 0.4rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    margin-bottom: 1rem;
    font-size: 4rem;
    border-bottom: 2px solid #ccc;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    row-gap: 1rem;
}

.input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 100%;
}

.submitBtn {
    background-color: cornflowerblue;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

.linkGithub {
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: bold;
}