.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--foreground-color);
    border-radius: 0.5rem;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 1rem;
}

.radioGroup {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.icon {
    width: 15px;
    height: 15px;
}

.submitBtn {
    background-color: cornflowerblue;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    color: var(--primary-font-color);
}
