.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.headerTitle {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.backLink {
    font-size: 50%;
    text-decoration: none;
    color: inherit;
    align-items: center;
    cursor: pointer;
}