
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.banner {
    width: 100%;
}

.bannerImg {
    width: 100%;
    height: 10rem;
}

.avatar {
    position: relative;
    top: -4rem;
    left: 2rem;
    width: 6rem;
    height: 3rem;
}

.avatarImg{
    width: 100%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
}

.info {
    padding: 0.5rem;
}

.hub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;
}

.navItem{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

.navItem:hover {
    background-color: var(--foreground-color);
}

.link{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    user-select: none;
    color: grey;
}

.isActive{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--foreground-color-active);
    text-decoration: none;
    user-select: none;
    color: grey;
}